

.App {
  display: flex;
  padding: 100px;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.App-logo {
  padding-bottom: 50px;
  height: 40vmin;
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.input-container{
    background-color: rgb(39, 28, 28);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.button{
    
  padding: auto;
  height: 30px;
  width: 100px;
  border-radius: 10px 10px;
  background-color: rgb(193, 71, 27);
  box-shadow:  10px 10px 10px grey;
  /* float: left; */
  
}

.textA {
 
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  /* animation: anim 4s infinite; */
}
